<div class="container">
    <!-- Add New Student Button -->
    <a href="/student/add" class="btn btn-success float-end mb-3">Add New Student</a>
    <div class="row">
        <main class="col-md-12">
            <br>
            <h2>{{student.firstName}} {{student.lastName}} - Student: {{student.studentNum}}</h2>
            <hr />

            <form method="post" action="/student/update">
                <input type="hidden" name="studentNum" value="{{student.studentNum}}" />

                <fieldset>
                    <legend>Personal Information</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstName">First Name:</label>
                                <input class="form-control" id="firstName" name="firstName" type="text"
                                    value="{{student.firstName}}" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastName">Last Name:</label>
                                <input class="form-control" id="lastName" name="lastName" type="text"
                                    value="{{student.lastName}}" required />
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Contact Information</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input class="form-control" id="email" name="email" type="email"
                                    value="{{student.email}}" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="addressStreet">Address (Street):</label>
                                <input class="form-control" id="addressStreet" name="addressStreet" type="text"
                                    value="{{student.addressStreet}}" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="addressCity">Address (City):</label>
                                <input class="form-control" id="addressCity" name="addressCity" type="text"
                                    value="{{student.addressCity}}" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="addressProvince">Address (Province):</label>
                                <input class="form-control" id="addressProvince" name="addressProvince" type="text"
                                    value="{{student.addressProvince}}" />
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Additional Information</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="isTA">TA:</label>
                                <input type="checkbox" id="isTA" name="isTA" {{#if student.TA}}checked{{/if}} />
                                <label for="isTA">Teaching Assistant</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status:</label>
                                <div>
                                    <label>
                                        <input type="radio" name="status" value="Full Time" {{#if (eq
                                            student.status "Full Time" )}}checked{{/if}} />
                                        Full Time
                                    </label>
                                    <label>
                                        <input type="radio" name="status" value="Part Time" {{#if (eq
                                            student.status "Part Time" )}}checked{{/if}} />
                                        Part Time
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="course">Course:</label>
                                <select id="course" name="course" class="form-control">
                                    {{#each courses}}
                                    <option value="{{this.courseId}}" {{#if (eq ../student.course
                                        this.courseId)}}selected{{/if}}>{{this.courseDescription}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />

                <input type="submit" class="btn btn-primary float-right" value="Update Student" />
            </form>
        </main>
    </div>
</div>